      </div>
    </section>

 <footer class="footer">
  <div class="content has-text-centered">
    <p>
    <a href="https://gitlab.com/hamakor/old.python.org.il/">source code</a>
    </p>
  </div>
</footer>

  </body>
</html>
