<nav class="navbar" role="navigation" aria-label="main navigation" dir="ltr">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/en/">Python</a>
      <a class="navbar-item" href="/en/pyweb">PyWeb</a>
      <a class="navbar-item" href="/en/pydata">PyData</a>
      <a class="navbar-item" href="/en/pycon">PyCon</a>
    </div>
  </div>

  <div class="navbar-end">
      <a class="navbar-item" href="/he/">פייתון</a>
  </div>

</nav>


